<h1>Fiche 1</h1>
<img src = "https://www.motoservices.com/user-media/Permis%20moto/Permis-moto-interrogation-orale-fiche-1.jpg" width = "500px">

<h2> les risque routier en deux roues motorisée </h2>
<ul>
    <li> les surfaces dappuis</li>
    <li> probleme de visibliter </li>
    <li> 32 % des cas le cyclomoteur est seul en cause</li>
    <li> 50% des accident avec alcool</li>
    <li>7000 blesses ospitalises</li>
</ul>
<h2>les accident moretel a moto</h2>
<ul>
    <li> dans les 6 mois de debut ou reprise(apres une longue interution) de la moto qu il y as le lysde rissque de mortaliter  </li>
    <li>1/3 des motard meurent sur la route sans tiers implique</li>
    <li>trouver les chiffre avec la rase campagne</li>
    <li>environ 700 mort</li>
    <li>0.3% des usager et 3,5% des tuée</li>
    <li>22 fois plus de risque de mourire sur un accident en moto que en voiture</li>
    <li> 94% des tuée sont des hommes </li>
    <li> 2/3 en rase campagne</li>
    <li> 1/10 la route glisse </li>
</ul>
<h2>gravité</h2>
<ul>
    <li>absence de carrosserie</li>
    <li>evoquer les soucie dequipement </li>
    <li>plus la vitesse est elevee plus le choque est important</li>
    <li>tendance a proteger le haut du corps en oubliant le bas du corps</li>
    <li>3 situation debouchant sur des lesion grave : <ul><li> impacte frontal</li> <il>impacte transversal</il> <li>ejection</li></ul></li>
    <li>les lesion le splus frequante sont les lesion as la tete car meme un casque a ces limite</li>
    <li>le smembre inffereieur son souvent fortement blesser et peu proteger</li>
    <li>le dos est fortement exposer et manque de protection et peu provoauer des paralysie ou fracture de vertebre</li>
</ul>
<h2>Comportement en presence d un accident</h2>
<ul>
    <li>appeler le 112</li>
    <li> alerter proteger secourire</li>
    <li>proteger : ne pas se mettre en danger reduire les risaue de sur accident en prevenant a l aide de feux de detresse ou aure moyen de prevenireles usager </li>
    <li>alerter: appeller le 112 prevenire rapidement lorsque l on est les remier sur les lieux trouve run moyen de se localiser le plus precisement possible , le nombre d evictime , leur etat les risque eventuelle et attendre qu il racoche</li>
    <li>secourire: en l'absence de secour offiiels il est obligatoir d assister meme si l on ne se setpas qualifié une assistance psychologiaue est important , poster secours aux blesses sans aggraver leur eventuelles blessures (ne pas hoter le casque ne pas donner a boir et ne pas le deplacer sauf cas imperieux )</li>
</ul>
<h2>conclusion</h2>
<div>
        Connaître les risques à moto pour sa vie et pour celle des autres
        Avoir conscience de sa vulnérabilité à moto est un point important conforté par les statistiques. Savoir que l'on peut se blesser et encourir des lésions graves montre que l'on est responsable. Insister sur l'importance de la protection est un plus, qui peut prendre un peu de temps sur celui de l'examen. N'hésitez pas à parler. Enfin, savoir quoi faire en cas d'accident est essentiel. Cela peut sauver la vie lorsqu'elle aura décidé de jouer des tours... N'oubliez pas. Et envisagez un stage de secourisme, toujours très utile pour être sensibilisé et surtout "performant" sur les lieux d'un accident.
</div>