<h1>fiche 2</h1>
<img src = "https://media.motoservices.com/media/cache/gallery_crop/media/gallery/3307/75_CER_Plateau_code_moto_328A5076.jpg" width = "500px">
<h2>accident en collision</h2>
    <div>
        a moto 2/3 des accident sont avec des tiers etant donner le faible poids de la moto par raport a une voiture
        le retour a 0km/h est instantanné 
        50km/h = 3 etage
        100km/h = 12 etage 
        plus courant dans les cas de
        <ul> 
            <li>les faible experience</li>
            <li>la baisse de vigilance</li>
            <li>vitesse inadapter a la situation</li>
            <li>une intersection</li>
            <li> changement de direction inapproprié de l automonilist</li>
            <li> depassement au momment ou l automoblist tourne</li>
            <li> non respect des distance de securité</li>
        </ul>
    </div>  
<h2> accident en solo</h2>
<ul>
<li>   Une faible expérience de la conduite</li>
        <li>    Une vitesse inappropriée ou trop élevée pour gérer l'imprévu</li>
                <li>   Une conduite "à risque" (ludique, compétitive, test ou transgression caractérisée)</li>
                        <li>   Des erreurs de conduite difficilement identifiables
Les conditions des accidents en solo les plus fréquentes sont :</li>
 <ul>
    <li>   Une perte de contrôle en virage </li>
    <li>   Un manque de maîtrise du freinage</li>
    <li>   Un guidonnage en ligne droite</li>
    <li>   Une perte de contrôle liée à un écart</li>
 </ul>
</ul>
<h2>conlusion</h2>
<div>
        cette fiche met en avant les points à surveiller pour rester toujours sur le qui-vive, et prendre conscience de ses limites et des limites de ses compétences. Elle sensibilise sur la nécessité de prendre des marges de sécurité en faisant ressortir les nombreux dangers entraînant une potentielle collision. Le motard et la motarde doivent non seulement faire attention pour eux, compte-tenu de leur fragilité, mais également faire attention aux autres, qui ne les perçoivent pas toujours... ou s'en moquent.
        Avec 1 accident sur 3 se produisant seul, le danger vient aussi de soi-même et de l'état de sa moto, laquelle doit être en mesure d'encaisser les défauts de la route et les improvisations sans avoir de réactions parasites.
</div>